body {
  font-family: "Playfair";
  text-align: center;
  background-color: #f0f0f0;
  font-weight: 800;
}

#clock-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: auto;
  height: 100vh;
}

.clock {
  background: #c4730a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.clock h2 {
  margin: 0;
  color: #c4730a;
  text-wrap: nowrap;
  text-align: center;
}

.clock .time {
  font-size: 24px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  #clock-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  #clock-container .clock {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
